
html {
  background-image: url(seigaiha.png);
}


.header {
  width:960px;
  background: white;
  float: left;
  background: white;
  border-bottom: 1px solid #cccccc;
  margin-left: 100px;
}

h1 {
  padding: 20px;
  margin:0;
  font-size: 28px;
  color:white;
  background: #4aaaa5;
  width: 28%;
  float: left;

}

#nav {
  float: right;
  padding: 20px;
  margin-top: 10px;
}

#nav a {
  text-decoration: none;
  color:#777777;
  font-family: Arial;
  font-size: 18px;
  text-align: center;

}

h2 {
  font-size: 24px;
  color: red;
}


.container {
  margin: auto;
  font-size: 16px;
  color: #333;
  float:left;
}

#mainStuff{
  float:left;
  width:650px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: white;
  margin-left:100px;
  border: 2px solid #dddddd;
}

#mainStuff,
#bioImage {
  float: left;
  margin-top: 20px;
  padding: 18px;
}

#mainStuff p {
  font-family: Arial, sans-serif;
  color:#777777;
}

#bioImage {
  margin-right: 20px;
}

#socialBar {
  float: right;
  padding:10px;
  background: white;
  margin:auto;
  width: 270px;
  margin-left: 30px;
  margin-top: 20px;
  border:1px solid #cccccc;

}

#socialBar h2 {
  text-align: center;
  font-weight: 20px;
}

#socialBar img {
  margin-left: 18px;
}

footer {
  clear: both;
  text-align: center;
  font-size:17px;
  padding:30px;
  background: #4aaaa5;
  border-top: 10px solid #666666;
  color:white;
  margin-top: -30px;
  width:960px;
  margin-left: 100px;
}

.contact-form {
  float:left;
  height:400px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}


#boxName {
    width: 100%;
    padding: 10px;
    background-color:#4aaaa5;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
  

#box1, #box3, #box5 {
  width: 275px;
  height: 200px;
  margin: 10px 35px 10px 0px;
  padding-top: 120px;
  background-image: url(placeholder.jpg);
  }

#box2, #box4 {
    float: right;
    width: 270px;
    height: 200px;
    margin: 10px 0px 10px 0px;
    padding-top: 120px;
    background-image: url(placeholder.jpg);
}


#boxArea {
    float: left;
    width: 650px;
    padding: 20px;
    margin-top:30px;
    margin-bottom: 30px;
    background-color:white;
    margin-left:100px;
    border:1px solid #cccccc;
 
  
}

.contact-form{
    font-family: Arial, sans-serif;
    font-size: 20px;
    border:1px solid #cccccc;
}

#commentBox {
  height:200px;
  width: 400px;
} 

@media screen and (max-width: 980px);
{
  
}
@media screen and (max-width: 768px);
{

}
@media screen and (max-width: 640px);
{
  .header {position: static;}
}


